<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
</head>
<body>
<header>
      	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">MyKarsol</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			
				</div>
			</div>
		</nav>
  </header>
          <br>
         <div class="container col-md-5">
                <div class="card">
                	
    					<form th:action="@{/records}" th:object="${record}" method="post" enctype="multipart/form-data">
        		<div class="form-group">
            		<label for="formGroupExampleInput">Title:</label>
           			<input type="text" id="title" class="form-control" th:field="*{title}" required />
        		</div>
        		<div class="form-group">
            		<label for="description">Description:</label>
            		<textarea id="description" class="form-control" th:field="*{description}" required></textarea>
        		</div>
        		<div>
           			 <label for="publishDate">Publish Date:</label>
            		<input type="date" id="publishDate" class="form-control" th:field="*{publishDate}" required />
        		</div>
        		<div>
            		<label for="status">Status:</label>
            		<select id="status" class="form-control" th:field="*{status}" required>
                		<option value="Draft">Draft</option>
               		 	<option value="Published">Published</option>
           			 </select>
        		</div>
        		<div>
            		<label for="bannerFile">Banner:</label>
            		<input type="file" class="form-control" id="bannerFile" name="bannerFile" /> 
 				</div>
        		<div>
            		<label for="authors">Authors:</label>
            		<select id="authors" class="form-control" name="authors" multiple th:field="*{authors}">
                		<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            		</select>
        		</div>
        		<div>
            		<button type="submit" class="btn btn-primary">Save Record</button>
            		<a th:href="@{/records/list}" class="btn btn-success">Back to list</a>
        		</div>
    	</form>    
	</div>
</body>
</html>
